@font-face {
  font-family: "Beausanspro";
  src: url("../fonts/beausanspro.eot");
  src: url("../fonts/beausanspro.eot?#iefix") format('embedded-opentype'), url("../fonts/beausanspro.woff") format('woff'), url("../fonts/beausanspro.ttf") format('truetype'), url("../fonts/beausanspro.svg#beausanspro") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Calibri_bold";
  src: url("../fonts/calibri_bold.eot");
  src: local("Calibri_bold"), url("../fonts/calibri_bold.woff") format('woff'), url("../fonts/calibri_bold.ttf") format("truetype"), url("../fonts/calibri_bold.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Calibri";
  src: url("../fonts/calibri.eot");
  src: local("Calibri"), url("../fonts/calibri.woff") format('woff'), url("../fonts/calibri.ttf") format("truetype"), url("../fonts/calibri.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Calibri_light";
  src: url("../fonts/calibri_light.eot");
  src: local("Calibri_light"), url("../fonts/calibri_light.woff") format('woff'), url("../fonts/calibri_light.ttf") format('truetype'), url("../fonts/calibri_light.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:hover,
*:focus,
*:active {
  outline: none;
}
html,
body {
  height: 100%;
}
.background {
  background: url('images/background.png') #2c2c2c center top no-repeat;
  background-size: cover;
  width: calc(100% - 450px);
  height: 100%;
  float: left;
  margin: 0;
  left: 0;
  top: 0;
}
.background__gradient {
  background-color: transparent 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent 0), to(rgba(0, 0, 0, 0.8) 100%));
  background-image: -webkit-linear-gradient(top, transparent 0, rgba(0, 0, 0, 0.8) 100%);
  background-image: -moz-linear-gradient(top, transparent 0, rgba(0, 0, 0, 0.8) 100%);
  background-image: -o-linear-gradient(top, transparent 0, rgba(0, 0, 0, 0.8) 100%);
  background-image: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.8) 100%);
  width: calc(100% - 450px);
  height: 40%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.background__wrap {
  position: absolute;
  bottom: 25px;
  z-index: 2;
  text-align: center;
  width: calc(100% - 450px);
}
.background__wrap h1 {
  font-family: 'Beausanspro';
  font-weight: 400;
  font-size: 72px;
  margin: 0 0 15px;
  color: #d4e1e6;
  line-height: 68px;
  -webkit-text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.7);
  -moz-text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.7);
  text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.7);
}
.background__wrap h3 {
  font-family: 'Calibri';
  font-size: 24px;
  color: #d4e1e6;
  -webkit-text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.7);
  -moz-text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.7);
  text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.7);
}
.background__triangle img {
  width: 85px;
  height: 85px;
  display: block;
  background-size: contain;
  position: relative;
  margin: 0 auto;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
.background__triangle img:hover {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.sidebar {
  background-color: #d4e1e6;
  width: 450px;
  height: 100%;
  float: left;
}
.sidebar__logo {
  width: 100%;
  float: left;
  padding: 10% 0;
}
.sidebar__logo img {
  background-size: contain;
  width: 181px;
  height: 146px;
  position: relative;
  display: block;
  margin: 0 auto;
}
.sidebar__form {
  width: 260px;
  margin: 0 auto;
  position: relative;
}
.sidebar select {
  border: none;
  width: 100%;
  height: 35px;
  padding: 6px;
  margin-bottom: 10px;
  border-bottom: 2px solid #6f99ad;
  color: #6f99ad;
  background-color: transparent;
  font-family: Calibri_light;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none !important;
  background: url('images/triangle_small.svg') no-repeat right center;
}
.sidebar__input {
  border: none;
  width: 100%;
  height: 30px;
  padding: 8px;
  margin-bottom: 10px;
  border-bottom: 2px solid #6f99ad;
  color: #6f99ad;
  background-color: transparent;
  font-family: Calibri_light;
}
.sidebar__submit {
  background-color: #6f99ad;
  color: #d4e1e6;
  font-family: Calibri;
  font-size: 22px;
  width: 220px;
  position: relative;
  display: block;
  margin: 10px auto 0 auto;
  border: none;
  padding: 11px 0;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.sidebar__submit:hover {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}
.sidebar__singin {
  width: 100%;
  margin-top: 10px;
  color: #6f99ad;
  font-family: Calibri_light;
  font-size: 16px;
  text-align: center;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.sidebar__singin a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.sidebar__footer {
  position: absolute;
  bottom: 20px;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  height: 30px;
  width: 450px;
  color: #6f99ad;
  font-family: Calibri_light;
  font-size: 12px;
  text-align: center;
}
.sidebar__footer a {
  color: inherit;
}
.sidebar input::-webkit-input-placeholder {
  color: #6f99ad;
}
.sidebar input:-moz-placeholder {
  color: #6f99ad;
}
.sing_in .sidebar__logo {
  padding: 10% 0 20%;
}
@media screen and (max-width: 980px) {
  .background__wrap h1 {
    font-size: 48px;
    line-height: 48px;
  }
  .background__wrap h3 {
    font-size: 20px;
    margin: 20px 0;
  }
  .background__triangle img {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 860px) {
  .background {
    background-position: 0%;
  }
  .sidebar,
  .sidebar__footer {
    width: 320px;
  }
  .background,
  .background__gradient,
  .background__wrap {
    width: calc(100% - 320px);
  }
}
@media screen and (max-width: 640px) {
  .background,
  .sidebar,
  .sidebar__footer,
  .background__gradient,
  .background__wrap {
    width: 100%;
  }
  .background__wrap h1 {
    font-size: 36px;
    line-height: 36px;
  }
  .background__wrap h3 {
    font-size: 18px;
    margin: 20px 0;
  }
  .sidebar {
    height: auto;
  }
  .sidebar__footer {
    position: static;
    margin-bottom: 25px;
    margin-top: 60px;
  }
  .sidebar__submit {
    font-size: 16px;
  }
  .sidebar__singin {
    font-size: 14px;
  }
}
